* {
    font-family: 'Montserrat', sans-serif;
}

/* Title */

h1 {
    font-family: 'Fredericka the Great', cursive;
    line-height: 1.5;
    font-size: 4rem;
    margin: 3rem 0;
}
#title p {
    font-size: 1.3rem;
}
.search-form {
    position: relative;
    max-width: 600px;
    margin: 3rem auto 0;
}
.search-form input {
    width: 100%;
    padding: 1rem 2rem;
    border: none;
}
.search-form button {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    font-size: 1rem;
    padding: 0.8rem 1.1rem;
    background-color: #FEA82F;
    border: none;
}
.search-form button:hover {
    background-color: #FFC288;
} 
.container-fluid {
    padding: 1% 15%;
    background-color: #FCECDD;
}

/* Navigation Bar */
.navbar {
    padding: 0;
}
.navbar-brand {
    font-family: 'Pacifico', sans-serif;
    font-size: 2rem;
}
.nav-item {
    padding-left: 1rem;
}
.nav-link {
    font-size: 1.2rem;
    color: #000;
}
.nav-link.active,
.nav-link:hover {
    color: #FEA82F !important;
}

/* Pets Image Section */
#pets {
    background-color:#FCECDD ;
    text-align: center;
}
.pets-image {
    max-width: 1024px;
    margin-bottom: -115px;
}

/* Feature Section */
#features {
    padding: 7% 10%;
    background-color: #fff;
}

#features h2 {
    font-size: 1.5rem;
}

#features ul {
    padding: 1rem;
}
#features li {
    margin: 0.5rem;
}
#features li:hover {
    color: #FEA82F;
}
.feature-box {
    text-align: center;
    padding: 5%;
}
.circle {
    background-color: #FCECDD;
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    margin: 0 auto;
}
.circle:hover {
    background-color: #FEA82F;
    color: #fff;
    cursor: pointer;
}
.icon {
    margin: 2.5rem 0 1.5rem;
}
.feature-dropdown,
.feature-dropdown:focus {
    background-color: transparent;
    border: none;
    outline: none;
}
.circle:hover .feature-dropdown {
    color: #fff !important;
}

/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #FCECDD;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-item {
    padding: 7% 15%;
}

/* Footer Section*/

#footer {
    padding: 3% 15% 2%;
    text-align: center;
}
.social-icon {
    margin: 20px 10px;
    color: #000;
}
.social-icon:hover {
    color: #FEA82F;
}


/* Pet Finder Page */

/* PF Search Section */
#pf-search-category,
#pf-search-distance {
    flex: none;
    width: max-content;
}

/* PF Search Result */
#pf-search-result {
    padding: 3% 15%;
    text-align: center;
}
.pf-search-column {
    padding: 3% 2%;
}
.animal-card {
    cursor: pointer;
}
.animal-card:hover {
    box-shadow: 0 0 15px 5px #fea82f;
}
.card-media {
    position: relative;
}
.card-media:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.card-img {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* Detailed Animal Info */
.photo-item {
    padding: 0 15%;
    max-height: 85vh;
}
.modal-body h2 {
    /* margin-top: 5%; */
    font-weight: bold;
}
.modal-body h4 {
    /* margin-top: 5%; */
    font-weight: bold;
    font-size: 1rem;
}
.animal-details {
    padding: 2% 15%;

}